body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #032B2F;

}

.app {
  height: 700px;
  width: 1000px;
  min-height: 500px;
  margin: 0 auto;
  text-align: center;
  color: white;
}


.not-it {
  color: #00295a;
}

.it{
  color: yellow;
}

.all-games {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  width: 90vw;
  max-width: 1000px;
  height: 83vh;
  max-height: 700px;
}

.link {
  text-decoration: none;
  display: flex;
  background-color: black;
}

.game-box {
  height: 20vh;
  width: 30vw;
  border-radius: 5px;
  border-color: #2cb5b4;
  border-style: solid;
  border-width: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color:#002d58;
  color: white;
}

.enter-name {
  color: white;
   border-color: #2cb5b4;
  border-style: solid;
  color: white;
  background-color:#002d58;
  border-radius: 1px;
  border-left-width: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  margin: 5px;
}

.send-name {
  border-color: #2cb5b4;
  border-style: solid;
  color: white;
  background-color:#002d58;
  border-radius: 1px;
  margin-left: 1px;
}

.total {
  font-size: 10px;
  margin: 5px;
}

.ol div:hover {
  background-color:  #2cb5b4;
  color: white;
}

.ol div:selected {
 background-color:  #2cb5b4;
  color: white;

}

.all-points {
  display: flex;
  justify-content: space-around;
}

.app-title {
  color: #e60019;
}

.name {
  color:#2db4bf;
}

.app-intro {
  font-size: large;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.t-input {
  border:1px solid white;
  margin-bottom: 10px;
  border-color: #2cb5b4;
  border-style: solid;
  color: white;
  background-color:#002d58;
  border-radius: 1px;
  margin-left: 1px;
}

button {
  border-color: #2cb5b4;
  border-style: solid;
  color: white;
  background-color:#002d58;
  border-radius: 1px;
  margin-left: 1px;
}

.team-selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.all-teams {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.team-options {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.blue-team {
  width: 250px;
  height: 100px;
  border-left-width: 5px;
  border-left-color: #2cb5b4;
  border-left-style: solid;
  background-color: rgb(21,81,128, 0.5);
  color: #2cb5b4;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px;
}

.red-team {
  width: 250px;
  height: 100px;
  border-left-width: 5px;
  border-left-color: #e86c7a;
  border-left-style: solid;
  color: #e86c7a;
  background-color: rgb(21,81,128, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px;
  order: 2;
}

.switch {
  width: 150px;
  height: 30px;
  background-color: #2cb5b4;
  border-radius: 10px;
  margin-top: 10px;
  color: white;
  align-self: center;
}
.switchr{
  width: 150px;
  height: 30px;
  background-color: #e86c7a;
  border-radius: 10px;
  margin-top: 10px;
  color: white;
  align-self: center;
}

.card-field {
  width: 98%;
  max-width: 600px;
  height: 70vh;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
/*  background-color: blue;
*/}

.false {
  width: 12vw;
  height: 10vh;
  border-style: solid;
  border-color: #00718c;
  border-width: 2px;
  border-radius: 5px;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #032B2F;
  background-color: #00718c;
}

.red-team1 {
 color: #e86c7a;
 margin: 1px;
}

.blue-team1 {
  color: #2cb5b4;
  margin: 1px;
}

.red {
  width: 80px;
  height: 50px;
  border-style: solid;
  border-color: #e86c7a;
  border-width: 2px;
  border-radius: 5px;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.r {
  width: 80px;
  height: 50px;
  border-style: solid;
  border-color: #e86c7a;
  border-width: 2px;
  border-radius: 5px;
  margin: 3px;
   display: flex;
  justify-content: center;
  align-items: center;
  color: #e86c7a;

}

.blue {
  width: 80px;
  height: 50px;
  border-style: solid;
  border-color: #2cb5b4;
  border-width: 2px;
  border-radius: 5px;
  margin: 3px;
   display: flex;
  justify-content: center;
  align-items: center;

}

.b {
  color: #2cb5b4;
  width: 80px;
  height: 50px;
  border-style: solid;
  border-color: #2cb5b4;
  border-width: 2px;
  border-radius: 5px;
  margin: 3px;
   display: flex;
  justify-content: center;
  align-items: center;
}

.chooser {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.chooser button {

}

.selected {
  background-color: #cfd3c4;
  width: 12vw;
  height: 10vh;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 5px;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:black;
}

.red-selected {
  width: 12vw;
  height: 10vh;
  border-style: solid;
  background-color: #e86c7a;
  border-width: 2px;
  border-radius: 5px;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  box-sizing: border-box;
  max-width: 100px;
  max-height: 50px;

}

.blue-selected {
  width: 12vw;
  height: 10vh;
  border-style: solid;
  background-color: #2cb5b4;
  border-width: 2px;
  border-radius: 5px;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  box-sizing: border-box;
  max-width: 100px;
  max-height: 50px;
}

.killer {
  width: 12vw;
  height: 10vh;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 5px;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: space-around;*/
  color: #cfd3c4;
 /* background-color: red;*/
  height: 80vh;
}

.board button {
  border-style: solid;
  border-width: 1px;
  border-color: #2cb5b4;
  color: #2cb5b4;
  margin: 2px;
  padding: 1vw;
}

h6 {
  margin: 1px;
}

.hint {
  border-top-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-color: #2cb5b4;
  color: white;
  margin: 3px;
  background-color: #002d30;
}

.ol {
  display: flex;
  justify-content: space-around;
  height: 20px;

}

.ol div {
  border-style: solid;
  border-color: #2cb5b4;
  border-width: 1px;
  margin: 1px;
  background-color:#002d30;
  border-radius: 5px;
  width: 40px;
}

.enter-info {
  display: flex;
  flex-direction: column;
}

.bottom {
  margin-bottom: 0px;
}

/* Dropdown Button */
.dropbtn {
    background-color: #020c39;
    color: white;
    padding: 14px;
    font-size: 14px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 130px;
    box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content div {
    color: black;
    padding: 10px 8px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content div:hover {background-color: #2cb5b4; color: white;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: gray;}

@media screen and (max-width: 600px) {
 .app{
    height: 700px;
    width: 330px;
  }
  .game-board{
    height: 88vh;
  }
  .bottom {
    height: 87vh;
  }

  .board{
    height: 86vh;
  }
  .find-team{
    margin: 10px;
  }

/*  player selection:
*/  .blue-team{
    width: 140px;
    height: 30px;
    margin: 2px;
  }
  .red-team{
    width: 140px;
    height: 30px;
    margin: 2px;
  }
  .t-input {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .dropdown{
    margin-bottom: 60px;
  }

  /*spyMaster*/
  .killer {
    height: 50px;
    width: 95px;
    box-sizing: border-box;
  }
  .red {
    height: 50px;
    width: 95px;
    box-sizing: border-box;
  }
  .blue {
    height: 50px;
    width: 95px;
    box-sizing: border-box;
  }
  .hint {
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .ol {
    margin-bottom: 10px;
  }
  .blue-selected {
    height: 50px;
    width: 95px;
    box-sizing: border-box;
  }
 .red-selected {
    height: 50px;
    width: 95px;
    box-sizing: border-box;
  }
/*  field Ops
*/  .false {
    height: 50px;
    width: 95px;
    color: pink;
  }

  .selected {
    height: 50px;
    width: 95px;
  }
  .b {
    height: 50px;
    width: 95px;
  }
  .r {
    height: 50px;
    width: 95px;
  }
  /*




  .red {
    height: 50px;
    width: 100px;
  }
  .blue {
    height: 50px;
    width: 100px;
  }
  .app-title {
    font-size: 20px;
  }
  .team-selection {
    height: 600px;
  }
  .all-teams{
    height: 200px;
  }
  .t-input {
    margin-bottom: 50px;
  }
  .dropdown {
    margin-bottom: 50px;
  }
  .card-field {
    background-color: green;
    min-height: 650px;
    max-height: 650px;
    max-width: 320px;
    min-width: 320px;
  }*/

}