body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: white;
}
.app {
  text-align: center;
  height: 98vh;
  width: 98vw;
  max-width: 400px;
  max-height: 800px;
  min-height: 300px;
  border-color: #ffefe9;
  border-style: solid;
  border-radius: 10px;
  margin: 0 auto;
  background-color: #ffefe9;
}

.app-title {
  font-size: 1.5em;
  color: black;
}

.name {
  color: #2cb5b4;
}

.app-intro {
  font-size: large;
  display: flex;
  flex-direction: column;
}

.t-input {
  border:1px solid white;
}

.team-selection {
  display: flex;
  justify-content: center;
}

.team-options{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blue-team {
  width: 150px;
  height: 30px;
  border-left-width: 5px;
  border-left-color: #2cb5b4;
  border-left-style: solid;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
}

.red-team {
  width: 150px;
  height: 30px;
  border-left-width: 5px;
  border-left-color: #e86c7a;
  border-left-style: solid;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
}

.switch {
  width: 150px;
  height: 30px;
  background-color: #2cb5b4;
  border-radius: 10px;
  margin-top: 10px;
  color: white;
  align-self: center;
}

.card-field{
  width: 98%;
  height: 400px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.false {
  width: 80px;
  height: 50px;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  border-radius: 5px;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red {
  width: 80px;
  height: 50px;
  border-style: solid;
  border-color: red;
  border-width: 1px;
  border-radius: 5px;
  margin: 3px;
   display: flex;
  justify-content: center;
  align-items: center;
}

.blue{
  width: 80px;
  height: 50px;
  border-style: solid;
  border-color: blue;
  border-width: 1px;
  border-radius: 5px;
  margin: 3px;
   display: flex;
  justify-content: center;
  align-items: center;
}

.killer {
  width: 80px;
  height: 50px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 5px;
  margin: 3px;
   display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ol {
  display: flex;
  justify-content: space-around;
  height: 20px;
  background-color: white;
}

.ol div {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 5px;
  width: 40px;
}